@import url("style.css");

/* ***************** Cadre photographer ************** */
.photographe-header {
  background-color: var(--colorWhite);
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 40px 100px;
}

.photographer-img img {
  margin-bottom: 30px;
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}

.button-decoration {
  font-size: 20px;
  font-weight: bold;
  color: var(--colorWhite);
  padding: 11px;
  width: 170px;
  height: 60px;
  border: none;
  background-color: var(--colorRedCity);
  border-radius: 5px;
  cursor: pointer;
}

/*************Affichage Media********** */

.mediaCards {
  margin: 40px 100px;
}

/* modification */
.media-container {
  display: flex;

  flex-direction: column;
}

.infos-media {
  display: flex;
  justify-content: start;
  color: var(--colorRedCity);
  font-weight: bold;
  width: auto;
}

.title-media {
  color: var(--colorRedCity);
  font-weight: bold;
}

.container-like-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.media {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 100px auto;
  gap: 1rem;
}

.media-container .media-image-video {
  object-fit: cover;
  aspect-ratio: 22 / 19;
  width: auto;
  height: 280px;
  margin: auto;
  padding: auto;
  border-radius: 5px;
}

.heart-icon {
  align-self: center;
  width: 20px;
  height: 20px;
}

/* ************Partie filtre******* */

.dropDownMenu{
  display: none;
}

.dropDown {
  display: flex;
  margin: 30px 100px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.button-trie {
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--colorRedCity);
  border-radius: 5px;
  cursor: pointer;
  color: var(--colorWhite);
}
.fleche {
  height: 20px;
  width: auto;
  filter: invert(1);
}

.contact_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#dropdownButton {
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#dropdownMenu {
  padding: 0px;
  margin: 0px;
  position: absolute;
  border-radius: 5px 5px 5px 5px;

}

#dropdownMenu li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.span-trie {
  margin: 0px 12px;
  padding: 21px 0px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.li-top{
  border-radius: 0px;
}
.li-middle p {
  background-color: var(--colorWhite);
}
.li-middle {
  border-radius: 0px
}
.li-end {
  border-radius: 0px 0px 5px 5px;
}

.border-bar-trie {
  border-top: solid var(--colorWhite);
}

/* *************Formulaire*********** */

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--colorGrey);
}

.header-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.container-contact-croix {
  display: flex;
  justify-content: space-around;
  gap: 130px;
}
.modal {
  border-radius: 5px;
  background-color: var(--colorOrange);
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.button-close-modal {
  border: none;
  text-decoration: none;
  background: transparent;
}

.modal header img {
  width: 30px;
  cursor: pointer;
}

.modal header h2 {
  margin: 0px;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

form {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 125px;
  margin-bottom: 20px;
}

.error-message {
  margin: 0px;
  font-weight: bold;
}

#message {
  margin: 0px;
}

#personalized-page-form .button-decoration {
  margin-top: 30px;
}

/* *************Carousel********** */
.carousel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--colorGrey);
}

.modal-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.carousel-media .media-image-video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.media-image-video {
  width: auto;
  height: 700px;
}
.carousel-close {
  padding-bottom: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-carousel button {
  background-color: transparent;
  border: none;
  width: 60px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-button-carousel-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button-carousel-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fleche-carousel {
  color: var(--colorRedCity);
}

.infos-like-price-container {
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colorOrange);
  width: 376px;
  height: 56px;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 999;
}

.like-heart-container {
  display: flex;
  gap: 12px;
  align-items: inherit;
}
